body {
    background-color: rgba(0, 255, 255, 0.788);
    text-align: center;
    margin-top: 40px;
  }
  
  img{width: 60%;}
  
  h1{color: rgb(4, 0, 255);
  font-size: 50px;
  }
  
  p{font-size: 30px;
  color: rgb(4, 0, 255);
  }
  
  button{
    font-size: 30px;
    margin: 10px;
    background-color: rgba(0, 255, 221, 0.712);
    color: rgb(20, 17, 163);
    padding: 9px;
    width: 200px;
    font-weight: bold;
    border-radius: 50px;
  }